<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>705571911589-2vlauir6asl8ni38g2l0qmk21uftqaa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705571911589-2vlauir6asl8ni38g2l0qmk21uftqaa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAr7M4j6tArF_xiKS18wfOZYS2gz2ghh3c</string>
	<key>GCM_SENDER_ID</key>
	<string>705571911589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jaros.Tandem-Demo</string>
	<key>PROJECT_ID</key>
	<string>tandem-91198</string>
	<key>STORAGE_BUCKET</key>
	<string>tandem-91198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705571911589:ios:90280d37499999e7</string>
	<key>DATABASE_URL</key>
	<string>https://tandem-91198.firebaseio.com</string>
</dict>
</plist>